@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

html, body{
  height: 100%;
}

body{
  background-color: rgb(248, 248, 248);
}

.texto {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

footer{
  bottom: 0;
  left: 0;
  }
